$accentColor =  #3eaf7c // 主题色rgb(255, 119, 0) 
$textColor = #535353// 文字颜色
$borderColor = #eaecef // 边框颜色
$codeBgColor = #282c34 // 代码背景颜色

.theme-default-content code
    color #3eaf7c
    background-color #f1fbf6